.menu-btn {
  position: absolute;
  top: 35px;
  right: 35px;
  z-index: 4;
  cursor: pointer;
  transition: all 0.4s ease-out; }
  .menu-btn .btn-line {
    width: 30px;
    height: 3px;
    margin: 0 0 4px 0;
    background: white;
    transition: all 0.4s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -4px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    overflow: hidden;
    float: left; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: rgba(27, 32, 37, 0.9);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.4s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0);
      transition: all 0.4s ease-out; }
  .menu-branding {
    background: rgba(31, 36, 42, 0.9);
    transform: translate3d(0, 100%, 0);
    transition: all 0.4s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0);
      transition: all 0.4s ease-out; }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      background: url("../img/DSC_0645.jpg");
      border: solid 3.5px #FB8122; }
  .menu .nav-item {
    transform: translate3d(650px, 0, 0); }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > .nav-link {
      color: #FB8122; }
    .menu .nav-item .nav-link {
      display: inline-block;
      position: relative;
      font-size: 28px;
      text-transform: uppercase;
      padding: 1rem;
      color: #fff; }
      .menu .nav-item .nav-link:hover {
        color: #FB8122;
        transition: all 0.4s ease-out; }

.nav-item:nth-child(1) {
  transition: all 0.4s ease-out;
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition: all 0.4s ease-out;
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition: all 0.4s ease-out;
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition: all 0.4s ease-out;
  transition-delay: 0.4s; }

* {
  box-sizing: border-box; }

body {
  background: #1D2228;
  color: #FFF;
  margin: 0;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url("../img/1amfcs-1233056-unsplash.jpg");
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      background: rgba(29, 34, 40, 0.7); }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 600; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem; }

a {
  text-decoration: none;
  color: #FFF; }

header {
  position: fixed;
  width: 100%;
  z-index: 2; }

.text-secondary {
  color: #FB8122; }

main {
  padding: 5rem;
  min-height: calc(100vh - 60px); }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }

.button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #FB8122;
  font-size: 1.1rem;
  line-height: 1;
  margin: 0 0 1.5rem 0;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0.6rem;
  cursor: pointer;
  font-weight: 600; }
  .button:hover, .button:focus {
    color: white;
    background-color: #FB8122;
    box-shadow: 0 0 2px 2px #FB8122 inset;
    transition: all 0.4s ease-out; }

.resume-button {
  margin-left: 1rem; }

.icon-style {
  margin-left: 0.6rem; }

.icons {
  margin-top: 2rem; }
  .icons a {
    padding: 0.3rem; }
    .icons a:hover {
      color: #FB8122;
      transition: all 0.4s ease-out; }

.about-info {
  display: grid;
  grid-template-areas: "bio-image bio bio" "job-1 job-2 job-3";
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px; }
  .about-info .bio-image {
    grid-area: bio-image;
    margin: auto;
    border: #FB8122 3px solid;
    border-radius: 50%; }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.4rem; }
  .about-info .job-1 {
    grid-area: job-1; }
  .about-info .job-2 {
    grid-area: job-2; }
  .about-info .job-3 {
    grid-area: job-3; }
  .about-info .job {
    background: #282f37;
    padding: 0.6rem;
    border-bottom: #FB8122 3px solid; }

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr); }
  .projects img {
    width: 100%;
    border: 3px #fff solid; }
    .projects img:hover {
      opacity: 0.5;
      border-color: #FB8122;
      transition: all 0.4s ease-out; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; }
  .boxes div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    transition: all 0.4s ease-out; }
    .boxes div:hover {
      padding: 0.5rem 1.5rem;
      background: #FB8122;
      color: white; }
      .boxes div:hover span {
        color: white; }
  .boxes .icons {
    margin-top: 2rem; }
    .boxes .icons a {
      padding: 0.3rem; }
      .boxes .icons a:hover {
        color: black;
        transition: all 0.4s ease-out; }

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  font-weight: 600; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #FB8122;
    color: white; }

.btn-dark {
  background: black;
  color: #fff; }

.btn-light {
  background: #93a1b1;
  color: #333; }

.main-footer {
  text-align: center;
  height: 60px;
  padding: 1rem;
  background: #282f37; }

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (min-width: 814px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 813px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1.1;
      margin-bottom: 1.1rem; }
  .menu-nav,
  .menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    .menu-nav.show,
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      height: 150px;
      width: 150px; }
  .about-info {
    grid-template-areas: "bio-image" "bio" "job-1" "job-2" "job-3";
    grid-template-columns: 1fr; }
  .projects {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 500px) {
  main {
    align-items: center;
    text-align: center;
    padding: 1.5rem; }
  .projects {
    grid-template-columns: 1fr; } }
